@font-face {
    font-family: 'Netflix Sans';
    font-weight: 100;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Th.woff2) format('woff2'), url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Th.woff) format('woff')
}

@font-face {
    font-family: 'Netflix Sans';
    font-weight: 300;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Lt.woff2) format('woff2'), url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Lt.woff) format('woff')
}

@font-face {
    font-family: 'Netflix Sans';
    font-weight: 400;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Rg.woff2) format('woff2'), url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Rg.woff) format('woff')
}

@font-face {
    font-family: 'Netflix Sans';
    font-weight: 700;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Md.woff2) format('woff2'), url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Md.woff) format('woff')
}

@font-face {
    font-family: 'Netflix Sans';
    font-weight: 800;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Bd.woff2) format('woff2'), url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Bd.woff) format('woff')
}

@font-face {
    font-family: 'Netflix Sans';
    font-weight: 900;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Blk.woff2) format('woff2'), url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Blk.woff) format('woff')
}

:root {
    --primary-color: #e50914;
    --dark-color: rgba(0, 0, 0, 50%);
    --min-height: 32px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Netflix Sans', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

body {
    background-color: var(--dark-color);
}

h1,
h2,
h3,
h4,
p {
    color: #fff;
    font-weight: 100;
}

a {
    text-decoration: none;
    color: #fff;
    /* display: inline; */
    /* width: 100%; */
    /* height: 100%; */
}

section {
    width: 100%;
    height: 70dvh;
    color: #fff;
}

/* Section-1 */
#section-1 {
    background: transparent url('./assests/background.jpg') no-repeat center center;
    height: 95vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-wrap: wrap;
    padding: 1.4rem 12rem;
    justify-content: space-between;
}

.logo svg {
    color: var(--primary-color);
    fill: currentColor;
    width: 10rem;
}

.right {
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.select-language {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.5rem;
    height: var(--min-height);
    width: 7.6rem;
    gap: 0px;
    background-color: var(--dark-color);
    border: 1px solid #747373;

}

.select-language div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1rem;
    /* width: 1rem; */
    /* background-color: aquamarine; */
}

select {
    position: absolute;
    /* top: 50%; */
    /* left: 50%; */
    top: 0;
    left: 0;
    background-color: transparent;
    height: 100%;
    border: none;
    width: 100%;
    color: white;
    /* outline: none; */
    padding: 4px 32px 0px 32px;
    appearance: none;
    line-height: 1.5rem;
    font-size: 0.9rem;
}

option {
    width: 100%;
    color: #000;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: calc(100% - 4rem);
    margin: auto;
}

.container h1 {
    font-size: 3rem;
    font-weight: 900;
}

.container h4 {
    margin-top: 1.4rem;
    font-size: 1.4rem;
    font-weight: 400;
}

.form-container p {
    font-size: 1.2rem;
    font-weight: 500;
}

.container .form-container {
    margin-top: 1.2rem;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 37rem;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 1rem;
}

.input-wrapper label {
    position: absolute;
    left: 0;
    padding: 5px 1rem;
    color: #aaaaaa;
    font-size: 1rem;
    transition: all 0.2s ease;
}



.input-wrapper input {
    min-width: 200px;
    flex-grow: 1;
    background-color: var(--dark-color);
    height: 3.6rem;
    padding: 0;
    border: 1px solid rgba(128, 128, 128, 0.7);

}

.input-wrapper input:active+label {
    top: 0;
    left: 0;
    color: #aaaaaa;
    font-size: 0.8rem;
}

.form-container a {
    /* height: calc(var(--min-height) * 1.5); */
    height: 3.6rem;
    width: fit-content;
    display: flex;
    gap: 10px;
}



/* BUTTONS */
.btn {
    background-color: var(--primary-color);
    font-size: 1rem;
    font-weight: 600;
    padding: 0.3rem 0.8rem;
    height: var(--min-height);
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-lg {
    font-size: 1.5rem;
}

.rounded {
    border-radius: 4px;
}