@font-face {
    font-family: 'Netflix Sans';
    font-weight: 100;
    src: url(./assests/fonts/NetflixSans_W_Th.woff2) format('woff2'), url(./assests/fonts/NetflixSans_W_Th.woff) format('woff')
}

@font-face {
    font-family: 'Netflix Sans';
    font-weight: 300;
    src: url(./assests/fonts/NetflixSans_W_Lt.woff2) format('woff2'), url(./assests/fonts/NetflixSans_W_Lt.woff) format('woff')
}

@font-face {
    font-family: 'Netflix Sans';
    font-weight: 400;
    src: url(./assests/fonts/NetflixSans_W_Rg.woff2) format('woff2'), url(./assests/fonts/NetflixSans_W_Rg.woff) format('woff')
}

@font-face {
    font-family: 'Netflix Sans';
    font-weight: 700;
    src: url(./assests/fonts/NetflixSans_W_Md.woff2) format('woff2'), url(./assests/fonts/NetflixSans_W_Md.woff) format('woff')
}

@font-face {
    font-family: 'Netflix Sans';
    font-weight: 800;
    src: url(./assests/fonts/NetflixSans_W_Bd.woff2) format('woff2'), url(./assests/fonts/NetflixSans_W_Bd.woff) format('woff')
}

@font-face {
    font-family: 'Netflix Sans';
    font-weight: 900;
    src: url(./assests/fonts/NetflixSans_W_Blk.woff2) format('woff2'), url(./assests/fonts/NetflixSans_W_Blk.woff) format('woff')
}

:root {
    --primary-color: #e50914;
    --dark-color: rgba(0, 0, 0, 50%);
    --min-height: 32px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    min-height: 100%;
    font-family: 'Netflix Sans', Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}

body {
    height: fit-content;
    background-color: #000;
}

ul {
    list-style: none;
}

h1,
h2,
h3,
h4,
p {
    color: #fff;
    font-weight: unset;
}

a {
    text-decoration: none;
    color: #fff;
}

.app-wrapper {
    padding: 1px 0;
}

section {
    border-top: 0.5rem solid #7473734a;
    width: 100%;
    color: #fff;
}

/* Section-1 */
#section-1 {
    position: relative;
    min-height: 35.5rem;
    display: flex;
    border: none;
    flex-direction: column;
    align-items: center;
}

#section-1 .background {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: clip;
    z-index: -1;
}

.background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center left;
}

#section-1::after {
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 50%);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset rgba(0, 0, 0, 70%) 0 70px 50px, inset rgba(0, 0, 0, 70%) 0 -70px 50px;
}

#section-1>* {
    z-index: 1;
}

#section-1 header {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem 0.85rem;
    align-items: center;
    justify-content: space-between;
}



.logo svg {
    width: 100%;
    color: var(--primary-color);
    fill: currentColor;
    width: 5.5rem;
}

.right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.select-language {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.7rem 0 0.7rem;
    height: var(--min-height);
    gap: 0.4rem;
    background-color: var(--dark-color);
    border: 1px solid #747373;
}

.select-language>div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1rem;
}

select {
    padding: 0 50%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    color: white;
    appearance: none;
    line-height: 1.5rem;
    font-size: 0.9rem;
    background-color: transparent;
}

option {
    width: 100%;
    color: #000;
}

.container {
    max-width: calc(100% - 3rem);

    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* .container */
.form-container {
    padding: 0 1rem;

    margin-top: 1.2rem;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-container p {
    font-size: 1.1rem;
    font-weight: 300;
}

.input-wrapper {
    width: 100%;

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 1rem;
}

.input-wrapper>div {
    width: 100%;
}

.input-wrapper>div {
    position: relative;
    flex: 1;
    display: flex;
}

.input-wrapper label {
    font-size: 0.9rem;
    top: calc(50% - 1rem);

    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    /* top: 0; */
    padding: 5px 1rem;
    text-align: start;
    color: #fff;
    transition: all 0.4s;
    z-index: -1;
}

.input-wrapper input {
    height: 3rem;

    padding: 7px 1rem 0 1rem;
    color: #fff;
    min-width: 200px;
    flex-grow: 1;
    background-color: var(--dark-color);
    /* background-color: transparent; */
    border: 1px solid rgba(128, 128, 128, 0.7);

    &::placeholder {
        color: transparent;
    }
}

.input-wrapper:has(input:focus) label,
.input-wrapper:has(input:not(:placeholder-shown)) label {
    font-size: 0.73rem !important;

    top: 0;
    left: 0;
}

.form-container a {
    height: 3rem;

    width: fit-content;
    display: flex;
    gap: 10px;
}

.section-wrapper {
    width: 100%;
    margin: 3.5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    max-width: calc(100% - 3rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.wrapper>* {
    width: 100%;
}

.text-wrapper {
    text-align: center;
}

.text-wrapper>h1 {
    letter-spacing: 0.6px;
}

.media-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tv-video {
    position: absolute;
    height: fit-content;
    width: 82.8%;
    top: 20.5%;
    left: 13.2%;
    z-index: -1;
}

.downloading {
    width: 260px;
    height: 60px;

    position: absolute;
    left: 50%;
    top: 82%;
    transform: translate(-50%, -50%);
    padding: 0.25rem 0.65rem;
    background-color: #000;
    border-radius: 13px;
    border: 2px solid #747373;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 60%), -5px -5px 20px rgba(0, 0, 0, 60%);
}

.downloading>div {
    height: 100%;
}

.show-details {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.stranger-things {
    height: 100%;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.box>h5 {
    font-size: 0.88rem;

    margin-top: 2px;
}

.box>p {
    font-size: 0.7rem;

    margin-top: 2px;
    color: #0071eb;
}

.multiple-devices-video {
    position: absolute;
    width: 63%;
    height: 100%;
    top: 12%;
    left: 17%;
    z-index: -1;
}


.faq-wrapper {
    flex-direction: column !important;
    gap: 1.4rem;
}

.faq-wrapper>* {
    width: 100%;
    text-align: center;
}

.faqs {
    width: 100%;

    text-align: start;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.faqs>li {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

.card {
    font-size: 1.15rem;
    width: 100%;

    border: none;
    text-align: start;
    background-color: #2d2d2d;
}

.question-section {
    padding: 1.4rem 1.4rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.question-section:hover {
    cursor: pointer;
    background-color: rgb(65, 65, 65);
    transition: background-color 0.35s ease-in-out;
}

.question-section>* {
    display: flex;
    align-items: center;
    height: 100%;
    color: #fff;
}

.answer-section {
    max-height: 0px;
    transition: max-height .2s ease-in-out;
    overflow: hidden;
}

.answer-section>* {
    padding: 1.4rem 1.4rem;

}

.faq-wrapper .form-container {
    padding: 0 1.5rem;
}

#section-7>.section-wrapper {
    margin: 1.5rem;
    width: calc(100% - 3rem);
}

#section-7>.section-wrapper .wrapper {
    width: 100%;
}

#section-7 div.wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1.7rem;
}


#section-7 div.wrapper>.top {
    color: rgb(255 255 255 / 70%);

}

#section-7 a {
    color: rgb(255 255 255 / 70%);

    text-decoration: underline;
    text-decoration-thickness: 1px;
}

#section-7 a[href="tel:+"] {
    text-decoration-thickness: 1.5px;
}

#section-7 ul {
    font-size: 0.85rem;
    color: rgb(255 255 255 / 70%);

    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem 0.25rem;
}

#section-7 ul>* {
    width: calc(50% - 10px);
}

#section-7 div.wrapper .language-wrapper {
    max-width: 7.6rem;
}

#section-7 div.wrapper .language-wrapper select {
    padding: 2px 32px 0px 32px;

}

#section-7 div.wrapper>span {
    font-size: 0.85rem;
    color: rgb(255 255 255 / 70%);
}

/* image styles */
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Video styles */
video {
    width: 100%;
}

/* Text Styles */
.title {
    font-size: 2rem;
    font-weight: 800;
}

.description {
    line-height: 2.02ch;
    margin-top: 1.4rem;
    font-size: 1.14rem;
    font-weight: 300;
}

/* BUTTONS */
.btn {
    font-size: 0.9rem;
    padding: 0.3rem 1rem;

    background-color: var(--primary-color);
    cursor: pointer;
    font-weight: 600;
    height: var(--min-height);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;

}

.btn:hover {
    background-color: rgb(193, 17, 25)
}

.btn-lg {
    font-size: 1.2rem;
    padding: 0.3rem 1.3rem 0.3rem 1rem;
}

.rounded {
    border-radius: 4px;
}

/* MEDIA QUERIES */
@media screen and (min-width:460px) {
    .downloading {
        width: 64%;
        min-width: 260;
    }
}

@media screen and (min-width:600px) {
    #section-1 header {
        padding: 1.5rem;

    }

    .select-language {
        width: 7.6rem;
    }

    select {
        padding: 2px 32px 0px 32px;
    }

    .form-container {
        padding: 0 2rem;
    }

    .input-wrapper {
        max-width: 586px;
        flex-direction: row;
    }

    .wrapper {
        max-width: calc(100% - 4rem);
        width: fit-content;
        margin: auto;
    }

    .text-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .text-wrapper>* {
        width: fit-content;
    }

    .downloading {
        height: 80px;
        padding: 0.35rem 0.65rem;
    }

    .box>h5 {
        font-size: 1rem;
    }

    .box>p {
        font-size: 0.86rem;
    }

    .download-gif {
        height: 70% !important;
    }
}

@media screen and (min-width:960px) {
    #section-1 {
        min-height: 44rem;
    }

    .logo {
        padding: 5px 0 0 0;
    }

    .logo svg {
        width: 9.5rem;
    }

    .right {
        gap: 1.5rem;
    }

    .background img {
        scale: 1.25;
        object-position: center bottom;
    }

    .form-container>p {
        font-size: 1.2rem;
        font-weight: 500;
    }

    .input-wrapper {
        height: 3.4rem;
    }

    .input-wrapper>div {
        height: 100%;
    }

    .input-wrapper input {
        height: 100%;
    }

    .wrapper>* {
        width: 50%;
    }

    .wrapper .text-wrapper {
        text-align: start;
    }

    .faq-wrapper .title,
    .faq-wrapper .form-container {
        width: 100%;
    }

    .faqs {
        width: 100%;
    }

    #section-7 ul>* {
        width: calc(25% - 10px);
    }

    section:nth-child(even) .wrapper {
        flex-direction: row;
    }

    section:nth-child(odd) .wrapper {
        flex-direction: row-reverse;
    }

    /* FONT STYLES */
    .title {
        font-size: 3rem;
        font-weight: 900;
    }

    .description {
        line-height: 2.1ch;
        margin-top: 1.4rem;
        font-size: 1.45rem;
        font-weight: 300;
    }

    /* BUTTONS */
    .btn {
        font-weight: 550;
    }

    .btn-lg {
        font-size: 1.5rem;
        padding: 1.7rem 1.7rem;

    }
}

@media screen and (min-width:1280px) {

    #section-1 header {
        padding: 1rem calc(12% - 2rem);
    }

    .select-language {
        width: 7.6rem;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 0.7rem 0 0.5rem;
        height: var(--min-height);
        gap: 0.4rem;
        background-color: var(--dark-color);
        border: 1px solid #747373;
    }

    .container {
        max-width: calc(83% - 4rem);
    }

    .input-wrapper {
        width: 37rem;
    }


    .input-wrapper label {
        font-size: 1rem;
        top: calc(50% - 1.1rem);
    }

    .input-wrapper input {
        height: 3.6rem;
    }

    .input-wrapper:has(input:focus) label {
        font-size: 0.8rem !important;
    }

    .form-container a {
        height: 3.6rem;
    }

    .wrapper {
        width: calc(100% - 4rem);
        margin: 0 11rem;
        justify-content: space-between;
    }

    .downloading {
        height: 24%;
        width: 55%;
        padding: 6px 10px;
    }

    .faq-wrapper>* {
        width: 100%;
    }

    .faqs {
        width: 100%;
    }

    .card {
        font-size: 1.4rem;
        width: 100%;
    }

    .question-section {
        padding: 1.7rem 1.7rem;
    }

    .plus>svg {
        transform: scale(1.2);
    }

    .answer-section>* {
        margin: 1.7rem 1.7rem;
    }

    #section-7>.section-wrapper {
        margin: 3.5rem 0;
        width: unset;

    }

    section:nth-child(even) .wrapper {
        flex-direction: row;
    }

    section:nth-child(odd) .wrapper {
        flex-direction: row-reverse;
    }

    /* Text Styles */
    .title {
        font-size: 3rem;
        font-weight: 900;
    }

    .description {
        line-height: 2.1ch;
        margin-top: 1.4rem;
        font-size: 1.45rem;
        font-weight: 300;
    }
}

@media screen and (min-width:1920px) {
    #section-1 {
        min-height: 95vh;
        min-height: 95dvh;
    }

    #section-1 header {
        padding: 1rem calc(20% - 2rem);
    }

    .wrapper {
        width: calc(66% - 4rem);
    }

    #section-7>.section-wrapper .wrapper {
        width: calc(66% - 4rem);

    }

}